.selected {
    background-color: brown;
    width: 200px;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

#menu li {
    cursor: pointer;
    font-size: 130%;
    width: 250px;
}

#menu li:hover {
    margin-left: 10px;
}

#task form input {
    border: 2px solid brown;
    padding-left: 10px;
    border-radius: 5px;
    width: 220px;
    height: 20px;
}

#task button {
    background-color: burlywood;
    margin-bottom: 10px;
    width: 220px;;
}